params {
    input = './input'
    spt_path = '.'
    mode = '3d'
    fiji = '/path/to/Fiji'
    mask_dir = './masks'
    labeled_frames = '93'
    link_dist = 0.8
    gap_closing_dist = 0.8
    ngap_max = 1
    pixelwidth = 0.16
    pixelheight = 0.16
    voxeldepth = 0.3
    timeres = 10
    tmp = './scratch'
    msd_min_length = 10
    msd_min_points = 5
    msd_min_tracks = 2
    msd_output = 'msd_output.csv'
    dir_output = 'angle_d_alpha.csv'
}
